.dashboard__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #d01609c2;
  padding: 16px;
}

.dashboard__container > div {
  margin-bottom: 20px;
}

.gratitude-image {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
  margin-bottom: 20px;
}
.text-message {
  font-size: 20px;
  font-family: DM-Sans, sans-serif;
  color: black;
}
.dashboard__btn {
  color: black;
  background-color: rgba(11, 96, 224, 0.748);
}