.dashboard__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #d01609c2;
  padding: 30px;
}

.dashboard__container > div {
  margin-bottom: 20px;
}

.gratitude-image {
  width: 90%; /* Ajuste conforme necessário */
  height: auto;
  margin-bottom: 20px;
}
.text-message {
  font-size: larger;
  font-family: DM-Sans, sans-serif;
}
